.home {
    background-image: url('portfolio_background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0;
}

.home h1 {
    font-size: 50px;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px; 
}

.about-me-link {
    color: #6c93a3;
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    background-color: #f0f8ff;
    padding: 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.about-me-link:hover {
    color: #0088ff;
    text-decoration: none;
    background-color: #e6f2ff;
}

  #about-section {
    padding: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.about-content {
    display: flex;
    align-items: center;
}

.about-image {
    margin-left: 50px;
    height: 30%;
    width: 30%;
}

html {
    scroll-behavior: smooth;
}

nav {
    background-color: #6c93a3;
    color: white;
    text-align: center;
    padding: 10px;
    position: sticky;
    z-index: 1000;
    top: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: white; 
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    display: inline-block;
    font-size: 16px;
}

nav a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 5px;
}

.nav-link.active {
    color: #4285f4;
    border-bottom: 2px solid #4285f4;
}


.container {
    width: 90%;
    margin: auto;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.main-heading {
    color: #333;
    margin-top: 20px;
    text-align: center;
}

.project-title {
    color: #0056b3;
}

.sub-heading {
    margin-bottom: 5px;
}

.project-section {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

.project-description {
    color: #666;
}

.image-gallery img {
    width: 100px; 
    height: auto;
    margin: 5px;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    background-color: rgba(0,0,0,0.9);
    opacity: 0;
    transition: opacity 0.5s ease;
}

.modal-content {
    position: relative;
    margin: auto;
    width: 80%;
    max-width: 700px;
}

.modal-trigger {
    transition: transform 0.3s ease;
}

.modal-trigger:hover {
    transform: scale(1.05);
}

.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.no-scroll {
    overflow: hidden;
}

.mySlides {
    opacity: 0;
    display: none;
    transition: opacity 0.5s ease;
}

.accordion-button {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    position: relative;
}

.accordion-button:after {
    content: '\25B6'; 
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
    transition: transform 0.4s;
}

.accordion-button.active:after {
    transform: rotate(90deg);
}

.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    background-color: white;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.centered-content {
    display: block;
    margin: auto;
}

#languageSwitcher {
    font-size: 16px;
    color: #333;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0 10px;
    cursor: pointer;
}

#languageSwitcher option {
    padding: 5px; 
    background-color: #f8f8f8;
    border-bottom: 1px solid #eee; 
}

#languageSwitcher option:hover {
    background-color: #e9e9e9;
}

@media screen and (max-width: 600px) {
    nav ul li {
        margin-right: 5px;
    }

    nav a {
        font-size: 12px;
        padding: 3px 7px;
    }

    #languageSwitcher {
        font-size: 12px;
        padding: 3px 5px;
        width: auto;
    }

    #about-section {
        padding: 50px 20px;
    }

    .about-content {
        flex-direction: column;
        align-items: center;
    }

    .about-text {
        width: 100%;
    }

    .about-image {
        width: 80vw;
        height: auto;
        margin: 0 auto;
    }
}